{{ $link := .Destination }}
{{- /* This comment removes newlines. */ -}}
{{ $isRemote := strings.HasPrefix $link "http" }}
{{- /* This comment removes newlines. */ -}}
{{- if not $isRemote -}}
{{- /* This comment removes newlines. */ -}}
{{ $url := urls.Parse .Destination }}
{{- /* This comment removes newlines. */ -}}
{{- if $url.Path -}}
{{- /* This comment removes newlines. */ -}}
{{ $fragment := "" }}
{{- /* This comment removes newlines. */ -}}
{{- with $url.Fragment }}{{ $fragment = printf "#%s" . }}{{ end -}}
{{- /* This comment removes newlines. */ -}}
{{- with .Page.GetPage $url.Path }}{{ $link = printf "%s%s" .Page.File.UniqueID $fragment }}{{ end }}{{ end -}}
{{- /* This comment removes newlines. */ -}}
{{- end -}}
{{- /* This comment removes newlines. */ -}}
{{ if $isRemote }}
{{- /* This comment removes newlines. */ -}}
<a href="{{ $link | safeURL }}"{{ with .Title}} title="{{ . }}"{{ end }} target="_blank">{{ .Text | safeHTML }}</a>
{{- /* This comment removes newlines. */ -}}
{{ else }}
{{- /* This comment removes newlines. */ -}}
<a href="#{{ $link | safeURL }}"{{ with .Title}} title="{{ . }}"{{ end }}>{{ .Text | safeHTML }}</a>
{{- /* This comment removes newlines. */ -}}
{{ end }}
{{- /* This comment removes newlines. */ -}}
