#cover-front {
    page: cover-front;
    break-after: always;
    padding-top: 50%;
    height: 11in;
    width: 8.5in;
    .title {
	text-align: center;
	font-size: 48px;
	line-height: 52px;
    }
}

@page cover-front {
    margin: 0;
    padding: 0;
    @top-left-corner {
	content: none;
    }
    @top-left {
	content: none;
    }
    @top-center {
	content: none;
    }
    @top-right {
	content: none;
    }
    @top-right-corner {
	content: none;
    }

    @bottom-left-corner {
	content: none;
    }
    @bottom-left {
	content: none;
    }
    @bottom-center {
	content: none;
    }
    @bottom-right {
	content: none;
    }
    @bottom-right-corner {
	content: none;
    }
}
