img {
    display: block;
    max-width: 100%;
}

.icon {
    width: 30px !important;
    display: inline;
}

.inline {
    display: inline;
}

.w25 {
    width: 24%;
}

.w50 {
    width: 48%;
}

.w75 {
    width: 72%;
}

.w100 {
    width: 100%;
}
