#toc {
    .title {
	font-size: 2.323em;
    }
    #toc-body {
	columns: 2;
	ul {
	    list-style-type: none;
	    padding-left: 15px !important;
	    li {
		padding-top: 1px;
		padding-bottom: 2px;
		a {
		    color: black;
		    text-decoration: none;
		}
		a:after {
		    content: "   " target-counter(attr(href), page);
		}
	    }
	}
    }
}
