* {
    widows: 5;
    orphans: 5;
    font-size: 12px;
    line-height: 1.2em;
}

#body {

    // The heading sizes for nested sections

    // Nesting level 1
    .section {
	break-after: always;
	 .title {
	    font-size: 2.323em;
	}
	.content{
	    h1,
	    h2,
	    h3,
	    h4,
	    h5,
	    h6 {
		color: red;
	    }
	}
    } // End section 1

    // Nesting level 2
    .section > .section {
	break-after: avoid;
	.title {
	    font-size: 2.178em;
	    font-weight: normal;
	    break-after: avoid;
	}
	.content{
	    h1, h2, h3 {
		color: black;
		font-weight: normal;
	    }
	    h1 {
		font-size: 2.041em;
	    }
	    h2 {
		font-size: 1.913em;
	    }
	    h3 {
		font-size: 1.793em;
	    }
	}
    } // End Nesting level 2

    // Nesting level 3
    .section > .section > .section {
	break-after: avoid;
	.title {
	    font-size: 1.68em;
	    font-weight: normal;
	    break-after: avoid;
	}
	.content{
	    h1, h2, h3 {
		color: black;
		font-weight: normal;
	    }
	    h1 {
		font-size: 1.575em;
	    }
	    h2 {
		font-size: 1.476em;
	    }
	    h3 {
		font-size: 1.383em;
	    }
	}
    } // End section 3


    // Nesting level 4
    .section > .section > .section > .section {
	break-after: avoid;
	.title {
	    font-size: 1.2961em;
	    font-weight: normal;
	    break-after: avoid;

	}
	.content{
	    h1, h2, h3 {
		color: black;
		font-weight: normal;
	    }
	    h1 {
		font-size: 1.215em;
	    }
	    h2 {
		font-size: 1.138em;
	    }
	    h3 {
		font-size: 1.067em;
	    }
	}
    } // End section 4


    dt {
	font-weight: bold;
	break-after: avoid;
	margin-top: 2px;
	margin-bottom: 3px;
    }

    dd {
	margin-left: 10px;
	margin-top: 2px;
	margin-bottom: 3px;
    }

    img {
	max-width: 100%;
	max-height: 100%;
    }

} // End #body
